@import '../../styles/base/variables';
.title {
  margin-top: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: var(--brand-grey-blue);
}
