@import '../../styles/base/variables';
.modal {
  position: fixed;
  z-index: 1000;
  background: rgba(22, 25, 50, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
  &_btn {
    background: transparent;
    margin-top: 63px;
    border: none;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &_content {
    display: none;
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 540px;
    height: 490px;
    background: var(--brand-white);
    border-radius: 25px;
    padding: 34px 40px 52px 38px;
  }
  &_title {
    color: var(--brand-dark-blue);
  }
  &_close {
    content: '';
    position: absolute;
    display: block;
    right: 47px;
    top: 45px;

    transition: 0.5s ease;
    &:hover {
      transform: scale(1.5);
    }
  }
  &_breakLine {
    width: 100%;
    position: absolute;
    left: 50%;
    margin-top: 24px;
    transform: translateX(-50%);
    color: var(--brand-grey);
    opacity: 0.2;
  }
  &_timeBlock {
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .form {
    margin-top: 21px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    span {
      color: var(--brand-background-color);
    }
    label {
      width: 140px;
      height: 68px;
    }
    input {
      margin-top: 5px;
      width: 100%;
      height: 48px;
      border-radius: 10px;
      background: var(--brand-grey);
      border: none;
      padding: 15px 0 16px 16px;
      color: var(--brand-dark-blue);
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }

  &_fontBlock,
  &_colorBlock {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .modal_title {
      margin-right: auto;
    }
  }

  &_colorCircle,
  &_fontCirle,
  &_colorCircle_active,
  &_fontCirle_active {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover {
      outline: 4px solid var(--brand-grey);
    }
  }

  &_fontCirle {
    background: var(--brand-grey);
    color: var(--brand-dark-blue);
    &_active {
      background: var(--brand-dark-blue);
      color: var(--brand-white);
    }
  }

  &_colorCircle_active {
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: url('../../assets/icons/icon-done.svg');
    }
  }

  &_btnSubmit {
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--main-color);
    border-radius: 26.5px;
    width: 140px;
    height: 53px;
    color: var(--brand-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none;
    transition: 0.5s ease;
    &:hover {
      filter: brightness(1.2);
    }
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 152px;
  }
  hr {
    margin-top: 24px;
    color: var(--brand-dark-blue);
    mix-blend-mode: normal;
    opacity: 0.1;
  }
}
@media (max-width: 576px) {
  .modal {
    &_content {
      padding: 24px 24px 59px 24px;
      width: 327px;
      height: 549px;
    }
    &_fontBlock,
    &_colorBlock {
      margin: 16px auto 0 auto;
      width: 152px;
      flex-direction: column;
      align-items: center;
      .modal_title {
        margin: 0;
      }
      .flex {
        margin-top: 16px;
      }
    }
    .form {
      flex-direction: column;
      label {
        margin-top: 8px;
        width: 280px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      input {
        width: 140px;
        height: 40px;
      }
    }
  }
}
